<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RemoteStudent</title>
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>
<body>
  <div class="outer-wrapper">
    <div class="main-header">
        <h1>Searching for remote work?</h1>
        <p>Find remote jobs and tasks from all over the world.</p>
    </div>
  </div>

  <div class="container col-md-10 loopthrough">
    <% @jobs.take(7).each_slice(4) do |jobs| %>
      <div class="row">
        <% jobs.each do |job| %>
          <div class="job col">
            <h5><%= link_to job.title, job %></h5>
            <p><%= job.money %>$/mo</p>
            <p><%= job.hours %></p>
            <p><%= job.where %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>


  <div class="container how col-md-10">
      <h2>How does Remotestudent.io works?</h2>
      <p>Browse the remote jobs and tasks that are listed and find one you like. <br> Connect with the employer and get started working from home.</p>
      <div class="row how-row">
        <div class="col-md-4">
            <img src="../assets/job.svg" alt="">
          <h5>Place</h5>
          <p>Register your company. For $49 you can place your job listing or task with all the specific requirements needed.</p>
        </div>
        <div class="col-md-4">
            <img src="../assets/dialog.svg" alt="">
          <h5>Connect</h5>
          <p>The job listing will connects the candidates through whatever portal or link you provided on the job listing.</p>
        </div>
        <div class="col-md-4">
            <img src="../assets/flags.svg" alt="">
          <h5>Profit</h5>
          <p>No more time wasting and arguing about who's doing which little #$@%*! task. Focus on the fun work!</p>
        </div>
      </div>
  </div>


</body>
</html>